<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm text-center">
      <a routerLink="/surveys">
        <img src="/assets/img/icons8-list-100.png" />
        <p>Ankiety</p>
      </a>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/img/icons8-page-100.png" />
      <p>Costam cos</p>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/img/icons8-list-100.png" />
      <p>Costam</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm text-center">
      <img src="/assets/img/icons8-list-100.png" />
      <p>Costam</p>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/img/icons8-page-100.png" />
      <p>Costam</p>
    </div>
    <div class="col-sm text-center">
      <img src="/assets/img/icons8-list-100.png" />
      <p>Costam</p>
    </div>
  </div>
</div>